@tailwind base;
@tailwind components;
@tailwind utilities;

.my-input {
  @apply px-2 py-2 rounded-md
  bg-gray-200 dark:bg-gray-400
  focus:outline-none focus:ring-1
  focus:ring-gray-300
  dark:focus:ring-gray-100
  placeholder-gray-500
  dark:placeholder-gray-600;
}
